form {
  text-align: left;
  padding: 10px;
}

input {
  border: 1px solid #909eaa;
  border-radius: 4px;
  padding: 5px;
}

.input-field {
  margin: 20px 0;
}

.form-label, .error {
  display: block;
}

.error {
  font-size: 14px;
  font-weight: normal;
  color: red;
}