.modal-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #2d363e;
  opacity: 0.3;
  z-index: 10;
  animation: backdrop-animation 0.5s normal;
}

.modal-content {
  position: fixed;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  background: white;
  z-index: 11;
  padding: 30px;
  border: 1px solid #cfd4da;
  border-radius: 18px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  animation: modal-animation 0.5s normal;
  min-width: 270px;
}

.modal-info-section {
  margin: 20px 0;
}

.modal-info-label {
  margin: 0;
}

.modal-info-copy {
  margin: 0;
}

.close-button {
  color: #d66a6a;
  position: fixed;
  left: 85%;
  top: 0;
  right: 0;
  bottom: 0;
  height: 34px;
}

.close-button:hover {
  cursor: pointer;
}

@keyframes modal-animation {
from {opacity: 0;}
to {opacity: 1;}
}

@keyframes backdrop-animation {
from {opacity: 0;}
to {opacity: 0.3;}
}